*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-IRIS: #4d5ae5;
  --color-OCEAN: #404bbf;
  --color-NAVYBLUE: #2e2f42;
  --color-GREEN: #31d0aa;
  --color-SLATE: #434455;
  --color-LIGHT-SLATE: #8e8f99;
  --color-CORNFLOWER: #e7e9fc;
  --color-CLOUD: #f4f4fd;
  --color-GREY: #2e2f42;
  --color-WHITE: #ffffff;
  --color-Dairy: #fcfcfc;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
}

.service {
  background-color: var(--color-NAVYBLUE);
  max-width: 1440px;
  height: 600px;
  flex-shrink: 0;
}

.service button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 24px;
  color: var(--color-WHITE);
  background-color: var(--color-IRIS);
  cursor: pointer;
  margin: 140px 0px 0px 636px;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}

.service button:hover,
.service button:focus {
  background-color: var(--color-OCEAN);
  color: var(--color-WHITE);
}

.portfolio button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 24px;
  background-color: var(--color-CLOUD);
  color: var(--color-IRIS);
  border: var(--color-CORNFLOWER);
  border-width: 1px;
  cursor: pointer;
}

.portfolio {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  margin: 110px auto auto auto;
  justify-content: center;
  align-items: center;
  margin: 60px auto 60px 427px;
}

.portfolio-MENU {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 168px 427px 168px 427px;
}

.portfolio button:hover,
.portfolio button:focus {
  color: var(--color-WHITE);
  background-color: var(--color-OCEAN);
}

.navigation {
  max-width: 1440px;
  height: 72px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-WHITE);
  gap: 40px;
}

.navigation-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.032em;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--color-NAVYBLUE);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--color-OCEAN);
}

.contact-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 16px;
  text-decoration: none;
  color: var(--color-SLATE);
  margin: 21px 0px 0px 0px;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--color-OCEAN);
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--color-SLATE);
  margin-top: 16px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: var(--color-IRIS);
  text-transform: uppercase;
  text-decoration: none;
  width: 44px;
  display: flex;

  margin: 4px 0px 0px 174px;
  justify-content: center;
}

.logo-in-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: var(--color-IRIS);
  text-transform: uppercase;
  text-decoration: none;
  width: 44px;
  display: flex;
  margin: 101.5px 0px 0px 174px;
  justify-content: center;
}
.logo2 {
  color: var(--color-NAVYBLUE);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo3 {
  color: var(--color-CLOUD);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-secondpart {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 21px;
  color: var(--color-NAVYBLUE);
  background-color: var(--color-CORNFLOWER);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
}

.ourteam {
  background-color: var(--color-WHITE);
  margin: 23px 24px 0px 0px;
  display: inline-flex;
  padding-bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.list {
  list-style-type: none;
  margin-right: auto;
}
.menu {
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 15px 0px 0px 115px;
  gap: 24px;
  border: #2e2f42;

  align-items: left;
  justify-content: left;
  padding: 15px;
}

.menu-middle {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  height: 412px;

  justify-content: center;
}

.menu-bottom {
  display: inline-flex;
  align-items: flex-start;

  flex-wrap: wrap;
  flex-shrink: 0;
  height: 432px;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  padding: 10px;

  padding-left: 70px;
  padding-right: 70px;
  margin-right: 50px;
  margin-left: 50px;
}

.service-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: var(--color-WHITE);
  background-color: var(--color-NAVYBLUE);
  text-align: center;
  width: 496px;
  height: 120px;

  font-size: 56px;
  margin: 15px auto 0px auto;
  padding-top: 15%;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--color-NAVYBLUE);
}

.aims {
  text-align: center;
}

.middle-headers {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-NAVYBLUE);
}

.middlesection {
  background-color: var(--color-CLOUD);
  max-width: 1440px;
  height: 732px;
  flex-shrink: 0;
  padding: 120px 0px;
}

head {
  color: var(--color-NAVYBLUE);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--color-SLATE);
  background-color: var(--color-WHITE);
  max-width: 1440px;
  max-height: 2592px;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  line-height: 1.17;
  background-color: var(--color-NAVYBLUE);
  color: var(--color-CLOUD);
  max-width: 1440px;
  height: 312px;
  flex-shrink: 0;
}

.footer-text {
  width: 264px;
  height: 72px;
  margin: 17.5px 1200px 100px 141px;
}
address {
  font-style: normal;
  margin-right: auto;
}

.middle-text {
  max-width: 264px;
}
.container {
  min-width: 1158px;
  padding: 0 15px;
  margin: 0 auto 50px auto;
  justify-content: center;
  align-items: center;
}

.container-in-header {
  min-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.container-in-footer {
  min-width: 264px;
  padding: 15px 15px;
  margin: 1px auto 1px auto;
}
.container-whole-page {
  justify-content: center;
  align-items: center;
  margin: auto auto auto auto;
}

.niceborder {
  display: block;
  padding: 25px 10px 10px 10px;
  margin: -10px 0 0 0;

  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}
