:root {
  --color-IRIS: #4d5ae5;
  --color-OCEAN: #404bbf;
  --color-NAVYBLUE: #2e2f42;
  --color-GREEN: #31d0aa;
  --color-SLATE: #434455;
  --color-LIGHT-SLATE: #8e8f99;
  --color-CORNFLOWER: #e7e9fc;
  --color-CLOUD: #f4f4fd;
  --color-GREY: #2e2f42;
  --color-WHITE: #ffffff;
  --color-Dairy: #fcfcfc;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
}

.service {
  background-color: var(--color-NAVYBLUE);
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}

.service button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 24px;
  color: var(--color-WHITE);
  background-color: var(--color-IRIS);
  cursor: pointer;
}

.service button:hover,
.service button:focus {
  background-color: var(--color-OCEAN);
  color: var(--color-WHITE);
}

.portfolio button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 24px;
  background-color: var(--color-CLOUD);
  color: var(--color-IRIS);
  border: var(--color-CORNFLOWER);
  border-width: 1px;
  cursor: pointer;
}

.portfolio button:hover,
.portfolio button:focus {
  color: var(--color-WHITE);
  background-color: var(--color-OCEAN);
}

.navigation {
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.navigation-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.032em;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--color-NAVYBLUE);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--color-OCEAN);
}

.contact-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 16px;
  text-decoration: none;
  color: var(--color-SLATE);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--color-OCEAN);
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--color-SLATE);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: var(--color-IRIS);
  text-transform: uppercase;
  text-decoration: none;
  width: 44px;

  margin: 24px 0px 4px 156px;
}
.logo2 {
  color: var(--color-NAVYBLUE);
}

.logo3 {
  color: var(--color-CLOUD);
}
.logo-secondpart {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 21px;
  color: var(--color-NAVYBLUE);
  background-color: var(--color-CORNFLOWER);
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

.ourteam {
  background-color: var(--color-WHITE);
}

.list {
  list-style: none;

  margin: 24px 40px 24px 77px;
}
.menu {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.service-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: var(--color-WHITE);
  background-color: var(--color-NAVYBLUE);
  text-align: center;
  width: 496px;
  height: 120px;
  margin: 182px 472px 292px 472px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--color-NAVYBLUE);
}

.aims {
  text-align: center;
}

.middle-headers {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-NAVYBLUE);
}

.middlesection {
  background-color: var(--color-CLOUD);
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
}

head {
  color: var(--color-NAVYBLUE);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--color-SLATE);
  background-color: var(--color-WHITE);
  width: 1440px;
  height: 2592px;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  line-height: 1.17;
  background-color: var(--color-NAVYBLUE);
  color: var(--color-CLOUD);
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
}

.footer-text {
  width: 264px;
}
address {
  font-style: normal;
}
